{% extends "base.html" %}
{% block content %}
  <h2 style="text-align: center;">Works log</h2>
  {% for elem in jobs_list %}
    {% set a = loop.index0 %}
    <div class="for-table">
        <h3>Action # {{ elem.id }}</h3>
      <table class="table">
        <thead>
          <tr class="table-light">
              <th class="table">Title or activity</th><th class="table-light">Team leader</th>
              <th class="table-light">Duration</th>
              <th class="table-light">List of collaborators</th><th class="table-light">Is finished</th>
          </tr>
        </thead>
        <tbody>
            <tr class="table-light">
                <td class="table-light">{{ elem.job }}</td><td class="table-light">{{ leads[a][0] }} {{ leads[a][1] }}</td>
                <td class="table-light">{{elem.work_size}}</td>
                <td class="table-light">{{ elem.collaborators }}</td>
                {% if elem.is_finished %}
                  <td class="table-danger">
                    Is not finished
                  </td>
                {% else %}
                  <td class="table-danger">
                    Is finished
                  </td>
                {% endif %}
            </tr>
        </tbody>
      </table>
    </div>
  {% endfor %}
{% endblock %}